{%- assign s = section.settings -%}

<div class="featured-collection__wrapper" data-section-id="{{- section.id -}}" data-section-type="featured-collection">
  <link rel="stylesheet" href="{{- 'featured-collection.css' | asset_url -}}">

  <div class="featured-collection__products container container--full">

    <div class="featured-collection__products-list">
      {%- for product in s.collection.products -%}
        {%- render 'product-item',
          object: product,
          image: product.featured_image
        -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Featured collection",
  "tag": "section",
  "class": "featured-collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{%- endschema -%}
